doctype html
html(lang="en")
  head
    title= title
    link(href="./lib/foundation/css/foundation.min.css", rel="stylesheet")
body
  nav.top-bar(data-topbar, role="navigation")
      ul.right
          
        

block content
