extends ./header.jade

block content 

  h1 Hello
  h2 Your weight is #{data[data.length-1].WEIGHT}

  div#main.row
    div.small-2.large-4.columns 
      p example
    div.small-2.large-4.columns 
      p example
    div.small-2.large-4.columns
      p example
